<!-- <p>error-page works!</p> -->

<ul>
  <app-lei-button [textButton]="'Login'" routerLink="/auth/login"></app-lei-button>
  <br>
  <app-lei-button [textButton]="'Sign up'" routerLink="/auth/register"></app-lei-button>

  <!-- <li>
    <a routerLink="/avengers/list">Ir a List</a>
  </li> -->

  <!-- <li>
    <a routerLink="/avengers/add">Ir a Add</a>
  </li> -->

  <!-- <li>
    <a routerLink="/avengers/edit">Ir a Edit</a>
  </li> -->

  <!-- <li>
    <a routerLink="/avengers/search">Ir a Search</a>
  </li> -->

  <!-- <li>
    <a routerLink="/avengers/id">Ir a ID</a>
  </li> -->


</ul>
